<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811186515495-d7f6b4caeaqkjef8t7de4ja1slkdugjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811186515495-d7f6b4caeaqkjef8t7de4ja1slkdugjn</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Qbtx4xYJPGFXbqxb8e4uIHKG2Kxli8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>811186515495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RohanNarayan.omniCrosswords</string>
	<key>PROJECT_ID</key>
	<string>omni-crosswords</string>
	<key>STORAGE_BUCKET</key>
	<string>omni-crosswords.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811186515495:ios:5e745cda29db04ae14e802</string>
	<key>DATABASE_URL</key>
	<string>https://omni-crosswords.firebaseio.com</string>
</dict>
</plist>